body {
    font-family: 'Staatliches', cursive;
    font-size: 16px;
    line-height: 1;
    color: #0E103D;
  }

  .lead {
    font-family: 'Indie Flower', cursive;
  }
  
  textarea{
    font-family: 'Indie Flower', cursive;
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
  }
  
  .jumbotron {
    text-align: center;
    background-color: #6b9080;
    color: #F6FFF8;
    border-radius: 0;
    border-bottom: 10px solid #455F53;
  }
  
  .description{
    white-space: pre-wrap;
  }
  
  .time-block{
    text-align: center;
    border-radius: 15px;
  }
  
  .row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid white;;
  }
  
  .hour {
    background-color: #455F53;
    color:white;
    border-top: 1px dashed #455F53;
  }
  
  .past {
    background-color: #EAF4F4;
    color: lightgrey; 
  }
  
  .present {
    background-color: #F7FFDD;
  }
  
  .future {
    background-color: #A4C3B2;
  }
  
  .saveBtn {
    border-left: 1px solid 455F53;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #455F53;
    color: white;
  }
  
  .saveBtn i:hover {
    font-size: 25px;
    transition: all .3s ease-in-out;
  }

  .color-code {
    font-family: 'Indie Flower', cursive;
  }

  #past-btn {
    background-color: #EAF4F4;
    color: black;
  }

  #present-btn {
    background-color: #F7FFDD;
    color: black;
  }

  #future-btn {
    background-color: #A4C3B2;
    color: black;
  }